/*
*********************************************************************************************************
 ✧･ﾟ: ✧･ﾟ: 𝓉𝓈𝓊𝓀𝒾 :･ﾟ✧:･ﾟ✧ - source
 𝐯 𝟎.𝟎.𝟏   
*********************************************************************************************************
*/
:root
{
    --version-content : " 0.0.1";
    --themeName       : "tsuki.";
    --watermark       : " created by: danimhals";
/*
*********************************************************************************************************
Discord value Override
*********************************************************************************************************
*/
  --background-secondary: transparent;
  --background-primary: transparent;
  --background-tertiary: transparent;
  --elevation-low: none;
  --channels-default: #FFFFFF;
/*
*********************************************************************************************************
Misc Variables
*********************************************************************************************************
*/
  --blur  : blur(20px);
--textShadow: 0 1px 2px rgba(0,0,0,0.5);
  --nickname: 40px;
  --nickWeight: 900;
/*
*********************************************************************************************************
Fluent Design
*********************************************************************************************************
*/
  --fluentDropShadow: 1px 1px 2px #00000028;
  --fluentBorderRadius: 10px;
  --fluentBorder: 1px inset rgba(255, 255, 255, 0.1);
  --fluentBgDark: rgba(0,0,0,0.35);
  --fluentTransition: all ease 0.4s;
  --fluentBgPattern: url(https://i.imgur.com/RzjXQlW.png);
}
/*
*********************************************************************************************************
Transparency for Main Client
*********************************************************************************************************
*/
/*Main Chat*/
.chatContent_f087cb,
/*Channel List*/
.privateChannels__9b518,
/*Guild List Wrapper*/
.wrapper__216eb
{
    background: transparent!important;
}
/*main chat box-shadows*/
.content__01e65:before, .searchBar__621ec
{
    border:none;
    box-shadow: none;
}
/*Discord text*/
.wordmarkWindows_ffbc5e
{
display: none;
}
/*
*********************************************************************************************************
Main Chat BG
*********************************************************************************************************
*/
body, .appMount_c99875
{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), var(--mainBackground);

    background-repeat: no-repeat;
    background-size: cover!important;
}

/*Main Text*/
.markup_a7e664 a
{
    color: var(--mainColor);
    font-weight: 900;
    text-shadow: 0 0 3px var(--mainColor);
}
/*Highlighted message*/
.theme-dark .message_ccca67.selected_e3bc5d, 
.theme-dark.mouse-mode.full-motion .message_ccca67:hover
{
    background: transparent;
}
/*Chat Bar*/
.channelTextArea_c2094b
{
    padding: 10px;
    background: var(--fluentBgPattern);
    border:var(--fluentBorder);
    box-shadow: var(--fluentDropShadow);
    backdrop-filter: var(--blur);
    width: 99%;
}
.placeholder_dec8c7
{
    display: none;
}
/*Input field*/
.themedBackground__3a4c0{
    background: transparent;
}
/*Unread Bar*/
.barBase__8839d
{
    padding: 20px;
    margin: 10px;
    border-radius: var(--fluentBorderRadius);
    box-shadow: var(--fluentDropShadow);
    background: var(--fluentBgPattern);
    backdrop-filter: var(--blur);
    opacity: 1;
    border: var(--fluentBorder);
}
.unread__48cf4
{
    left: -2px;
    padding-left: 4px;
    border-radius: 100%;;
    background-color: var(--mainColor);
    box-shadow: 0 0 4px var(--mainColor);
}


/*Icons*/
/*Empty Channel Icon*/
.emptyChannelIcon_d45c50
{
    border:var(--fluentBorder);
    backdrop-filter: var(--blur);
    background-color: transparent;
    box-shadow: var(--fluentDropShadow);
}
/*
*********************************************************************************************************
user profiles
*********************************************************************************************************
*/
/*User Profiles Overlay*/
.userProfileInner__8ff35:before
{
    background: transparent;
}
/*User Profile Background*/
.overlayBackground__345c9
{
    background:transparent;
}
/*User Profile*/
.profilePanel_e2cafe
{
    margin: 0px;
}
.userPanelOuter_df01a5, .userProfileOuterThemed_a425f3,
.userPanelInnerThemed__651e4, .bannerSVGWrapper__8a38c
{
border-radius: var(--fluentBorderRadius)!important;
}
/*User Profile Nickname*/
.nickname_db3773
{
    color:white!important;
    font-size: var(--nickname);
    font-weight: var(--nickWeight);
}
/*
*********************************************************************************************************
member list
*********************************************************************************************************
*/
.container_f79ab4
{
    width: 60px;
    overflow: hidden;
    transition: var(--fluentTransition);
    background-color: transparent;
    border-radius: var(--fluentBorderRadius);
    margin:10px;
    backdrop-filter: var(--blur);
    box-shadow: var(--fluentDropShadow);
    border: var(--fluentBorder);
}
.container_f79ab4:hover
{
    width: 240px!important;
    background: var(--fluentBgDark);
    margin: 10px;
}
/*
*********************************************************************************************************
channel list
*********************************************************************************************************
*/
.containerDefault_ae2ea4
{
    background: transparent;
    margin: 5px;
    min-width: 225px;
    transition: var(--fluentTransition);
}
/*Selected Channel*/
.modeSelected__473f1 .link_ddbb36, .modeSelected__473f1:hover .link_ddbb36
{
    background: transparent;
    border: 1px solid var(--mainColor);
    box-shadow: inset 0 0 15px var(--accentColor);
}
.wrapper__612a5:hover .link_ddbb36
{
    background: transparent;
}
/*Default Channel Pound Sign*/
.icon__67ab4
{
    color: var(--mainColor);
}
/*Selected Channel Pound Sign*/
.modeSelected__473f1 .icon__67ab4
{
    color: var(--accentColor);
}
/*Channel Names*/
.name__4eb92
{
    text-shadow: var(--textShadow);
}
/*Animated guild banner*/
.animatedContainer__0e828
{
    border-radius: var(--fluentBorderRadius);
    box-shadow: var(--fluentDropShadow)!important;
}

.theme-dark .container__7e23c
{
    border-radius: var(--fluentBorderRadius);
    margin-bottom:5px;
    backdrop-filter: var(--blur);
    box-shadow: var(--fluentDropShadow);
    border:var(--fluentBorder);
    background: var(--fluentBgPattern);
}
/*
*********************************************************************************************************
dm channel list
*********************************************************************************************************
*/
.link__3a950
{
    background: var(--fluentBgPattern)!important;
    backdrop-filter: var(--blur);
    border-radius: var(--fluentBorderRadius);
    border: var(--fluentBorder);
    box-shadow: 0 0 3px var(--fluentDropShadow);
    margin-top:2px;
    margin-bottom: 2px;
    transition: all ease 1s;
}
.link__3a950:hover
{
    box-shadow: 0 0 15px var(--mainColor);
    border: 1px solid var(--accentColor);
    color: var(--mainColor);
}
/*
*********************************************************************************************************
user settings (status, mute, deafen etc)
*********************************************************************************************************
*/
.theme-dark .container_debb33
{
    background: transparent;
}
.panels__58331
{
    border: var(--fluentBorder);
    margin-top: 10px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: var(--fluentBorderRadius);
    box-shadow: var(--fluentDropShadow);
    backdrop-filter: var(--blur);
    background: var(--fluentBgPattern);

}

.title__4a7a9
{
    color: var(--mainColor);
    text-shadow: 0 0 3px var(--mainColor);
    font-weight: 900;
    font-size: 22px;
}